<section class="vh-100">
  <h2 class="fs-5">{{jim}}</h2>       
  <!-- login ts file data=happy banking with us -->
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img id="jim" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form id="jmy">
          <!-- style.css il jim id und (hover cheyan) -->

          <!-- Ac input -->
          <div class="form-outline mb-4">
            <input [(ngModel)]="acno"  name="uname" type="text" id="form1Example13" class="form-control form-control-lg" [placeholder]="plchldrjim" />
            <!-- property binding [plchldrjim] -->
            <label class="form-label" for="form1Example13">Account No</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input [(ngModel)]="psw" name="password" type="password" id="form1Example23" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example23">Password</label>
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>
            <a href="#!">Forgot password?</a>
          </div>

          <!-- Submit button -->
          <button (click)="login()" id="jim" type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
          <!-- onClick pakaram angularil (click) -->
          <a href="register" class="p-5">Create Account</a>
        </form>
      </div>
    </div>
  </div>
</section>