<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6" style="background-color: rgb(252, 252, 253);">
        <h1 style="color: rgb(65, 34, 93);">Enjoy Net Banking with <span class="text-warning">SBI</span></h1>
        <p class="text-start w-75 container">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium ipsam voluptate est voluptatem reiciendis quia velit deleniti nemo voluptas esse, ullam corporis assumenda aut fugit quam</p>
        <img class="w-100 mt-5 p-5"
         src="https://i.postimg.cc/4N0pn5Vg/Bank-Exams.jpg" alt="">

    </div>
</div>